//***Timing Variables***

$midBoxesTransitionDuration: 0.5s;
$roomlistTransitionDuration: 0.2s;

//***Timing Variables***



//***Color Variables RGB/A***

//Main Color Variants
$mainclr: rgb(170,0,35); //old color: rgb(198,2,51)
$mainclrshade: rgb(198,2,51);
$mainclropacity: rgba(170,0,35,0.91);
$mainclrtransparent: rgba(170,0,35,0.3);
//Main Color Variants

//Grey Color Variants
$boxshadow: rgb(51,51,51);
$greyopacity: rgba(200,200,200,0.8);
$chatgrey: rgb(242,244,245);
$whitegrey: rgb(250,250,250);
//Grey Color Variants

//Scroll Color Variants
$scrollbackthumbwhite: rgba(255,255,255,0.3);
$scrollbackthumbhoverwhite: rgba(255,255,255,0.5);
$scrollbartrackwhite: rgba(255,255,255,0.1);

$scrollbackthumbblack: rgba(0,0,0,0.2);
$scrollbackthumbhoverblack: rgba(0,0,0,0.3);
$scrollbartrackblack: rgba(0,0,0,0.08);
//Scroll Color Variants

//Flat Colors
$menudarkblue: rgb(44,62,80);
$menudarkblueshade: rgb(52, 73, 94);
$usercolor: rgb(46,204,113);
//Flat Colors

//White Color Variants
$cloudwhite: rgba(236,240,241,1);
$cloudwhiteopacity: rgba(236,240,241,0.5);
//White Color Variants

//Other Cool Colors (Mainly for gradients)
$cream: rgb(237,172,125);
$skyblue: rgb(49,183,215);
$creampink: rgb(228,125,125);
$blueberry: rgb(193,149,211);
//Other Cool Colors (Mainly for gradients)

//***Color Variables RGB/A***